# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# macOS
.DS_Store

# Databases
*.db
*.sqlite
*.sqlite3

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Build/cache
.cache/
dist/
build/
